In [13]:
import pandas as pd
veg=["brinjal","tomato","potato","peans"]

In [21]:
veg_Series=pd.Series(veg)

In [22]:
veg_Series

0    brinjal
1     tomato
2     potato
3      peans
dtype: object

In [25]:
veg_Series=pd.Series(veg, index=["purple","red","beige","green"])

In [26]:
veg_Series

purple    brinjal
red        tomato
beige      potato
green       peans
dtype: object

In [29]:
veg_Series["orange"]="carrot"

In [31]:
veg_Series

purple    brinjal
red        tomato
beige      potato
green       peans
orange     carrot
dtype: object

In [35]:
veg_Series.drop("beige", inplace=True)

In [36]:
veg_Series

purple    brinjal
red        tomato
green       peans
orange     carrot
dtype: object

In [ ]:
#DATA FRAME

In [38]:
data={"veges":["tomato","onion","carrot"],"color":["red","white","orange"],"unit":["1kg","1kg","1kg"],"max":[50,40,30],"min":[30,50,40]}
print(data)

{'veges': ['tomato', 'onion', 'carrot'], 'color': ['red', 'white', 'orange'], 'unit': ['1kg', '1kg', '1kg'], 'max': [50, 40, 30], 'min': [30, 50, 40]}

In [39]:
df=pd.DataFrame(data)

In [40]:
df

    veges   color unit  max  min
0  tomato     red  1kg   50   30
1   onion   white  1kg   40   50
2  carrot  orange  1kg   30   40

In [42]:
df=pd.DataFrame(data, index=["A","B","C"])

In [43]:
df

    veges   color unit  max  min
A  tomato     red  1kg   50   30
B   onion   white  1kg   40   50
C  carrot  orange  1kg   30   40

In [47]:
df["veges"]

A    tomato
B     onion
C    carrot
Name: veges, dtype: object

In [92]:
df.loc["A"]

veges    tomato
color       red
unit        1kg
max          50
min          30
Name: A, dtype: object

In [54]:
df.iloc[0,1]

'red'

df[df["min"]>30]

In [55]:
df

    veges   color unit  max  min
A  tomato     red  1kg   50   30
B   onion   white  1kg   40   50
C  carrot  orange  1kg   30   40

In [56]:
df[df["max"]>30]

    veges  color unit  max  min
A  tomato    red  1kg   50   30
B   onion  white  1kg   40   50

In [63]:
df

    veges   color unit  max  min    d
A  tomato     red  1kg   50   30  veg
B   onion   white  1kg   40   50  veg
C  carrot  orange  1kg   30   40  veg

In [73]:
df.drop("d", axis=1)

    veges   color unit  max  min
A  tomato     red  1kg   50   30
B   onion   white  1kg   40   50
C  carrot  orange  1kg   30   40

In [87]:
df.loc["d"]={"veges":"onion","color":"white","unit":"1kg","max":50,"min":20}

In [88]:
df

    veges   color unit max min
A  tomato     red  1kg  50  30
B   onion   white  1kg  40  50
C  carrot  orange  1kg  30  40
d   onion   white  1kg  50  20

In [85]:
df.drop("d", axis=1, inplace=True)

In [89]:
df

    veges   color unit max min
A  tomato     red  1kg  50  30
B   onion   white  1kg  40  50
C  carrot  orange  1kg  30  40
d   onion   white  1kg  50  20

In [93]:
df.drop("d", axis=0, inplace=True)

In [94]:
df

    veges   color unit max min
A  tomato     red  1kg  50  30
B   onion   white  1kg  40  50
C  carrot  orange  1kg  30  40

In [97]:
df.isna().sum()

veges    0
color    0
unit     0
max      0
min      0
dtype: int64

In [106]:
df.loc["d"]={"veges":"potato","color":"beige","unit":"1kg","max":"20"}

In [107]:
df

    veges   color unit max  min
A  tomato     red  1kg  50   30
B   onion   white  1kg  40   50
C  carrot  orange  1kg  30   40
d  potato   beige  1kg  20  NaN

In [108]:
df.isna()

   veges  color   unit    max    min
A  False  False  False  False  False
B  False  False  False  False  False
C  False  False  False  False  False
d  False  False  False  False   True

In [109]:
df.isna().sum()

veges    0
color    0
unit     0
max      0
min      1
dtype: int64

In [112]:
df.fillna(20, inplace=True)

C:\Users\Lenovo\AppData\Local\Temp\ipykernel_13568\3700223510.py:1: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df.fillna(20, inplace=True)

In [113]:
df

    veges   color unit max  min
A  tomato     red  1kg  50   30
B   onion   white  1kg  40   50
C  carrot  orange  1kg  30   40
d  potato   beige  1kg  20   20

In [114]:
df.loc["e"]={"veges":"drumstick","color":"green","unit":"1kg","max":"20"}

In [115]:
df

       veges   color unit max   min
A     tomato     red  1kg  50  30.0
B      onion   white  1kg  40  50.0
C     carrot  orange  1kg  30  40.0
d     potato   beige  1kg  20  20.0
e  drumstick   green  1kg  20   NaN

In [116]:
df.dropna()

    veges   color unit max   min
A  tomato     red  1kg  50  30.0
B   onion   white  1kg  40  50.0
C  carrot  orange  1kg  30  40.0
d  potato   beige  1kg  20  20.0

In [117]:
df

       veges   color unit max   min
A     tomato     red  1kg  50  30.0
B      onion   white  1kg  40  50.0
C     carrot  orange  1kg  30  40.0
d     potato   beige  1kg  20  20.0
e  drumstick   green  1kg  20   NaN

In [118]:
df.dropna(axis=1)

       veges   color unit max
A     tomato     red  1kg  50
B      onion   white  1kg  40
C     carrot  orange  1kg  30
d     potato   beige  1kg  20
e  drumstick   green  1kg  20

In [119]:
df

       veges   color unit max   min
A     tomato     red  1kg  50  30.0
B      onion   white  1kg  40  50.0
C     carrot  orange  1kg  30  40.0
d     potato   beige  1kg  20  20.0
e  drumstick   green  1kg  20   NaN

In [129]:
df.dropna(axis=1, inplace=True)

In [130]:
df

       veges   color unit max
A     tomato     red  1kg  50
B      onion   white  1kg  40
C     carrot  orange  1kg  30
d     potato   beige  1kg  20
e  drumstick   green  1kg  20

In [144]:
df["unit"].sum()

'1kg1kg1kg1kg1kg'

In [145]:
df["max"].count()

np.int64(5)

In [148]:
df[max].count()

np.int64(5)

In [2]:
import pandas as pd
data={"veges":["tomato","onion","carrot"],"color":["red","white","orange"],"unit":["1kg","1kg","1kg"],"max":[50,40,30],"min":[30,50,40]}
print(data)
df=pd.DataFrame(data)

{'veges': ['tomato', 'onion', 'carrot'], 'color': ['red', 'white', 'orange'], 'unit': ['1kg', '1kg', '1kg'], 'max': [50, 40, 30], 'min': [30, 50, 40]}

In [3]:
df

    veges   color unit  max  min
0  tomato     red  1kg   50   30
1   onion   white  1kg   40   50
2  carrot  orange  1kg   30   40

In [9]:

import pandas as pd
data={"veges":["tomato","onion","carrot"],"color":["red","white","orange"],"unit":["1kg","1kg","1kg"],"max":[50,40,30],"min":[30,50,40]}
print(data)
df1=pd.DataFrame(data)

{'veges': ['tomato', 'onion', 'carrot'], 'color': ['red', 'white', 'orange'], 'unit': ['1kg', '1kg', '1kg'], 'max': [50, 40, 30], 'min': [30, 50, 40]}

In [11]:
df1

    veges   color unit  max  min
0  tomato     red  1kg   50   30
1   onion   white  1kg   40   50
2  carrot  orange  1kg   30   40

In [17]:
pd.concat([df,df1], axis=1)

    veges   color unit  max  min   veges   color unit  max  min
0  tomato     red  1kg   50   30  tomato     red  1kg   50   30
1   onion   white  1kg   40   50   onion   white  1kg   40   50
2  carrot  orange  1kg   30   40  carrot  orange  1kg   30   40

In [18]:
pd.concat([df,df1])

    veges   color unit  max  min
0  tomato     red  1kg   50   30
1   onion   white  1kg   40   50
2  carrot  orange  1kg   30   40
0  tomato     red  1kg   50   30
1   onion   white  1kg   40   50
2  carrot  orange  1kg   30   40

In [19]:
import pandas as pd
data={"veges":["tomato","onion","carrot"],"color":["red","white","orange"],"unit":["1kg","1kg","1kg"],"max":[50,40,30],"min":[30,50,40]}
print(data)
df=pd.DataFrame(data)

{'veges': ['tomato', 'onion', 'carrot'], 'color': ['red', 'white', 'orange'], 'unit': ['1kg', '1kg', '1kg'], 'max': [50, 40, 30], 'min': [30, 50, 40]}

In [20]:
df

    veges   color unit  max  min
0  tomato     red  1kg   50   30
1   onion   white  1kg   40   50
2  carrot  orange  1kg   30   40

In [21]:
df["d"]=[1,2,3]

In [22]:
df

    veges   color unit  max  min  d
0  tomato     red  1kg   50   30  1
1   onion   white  1kg   40   50  2
2  carrot  orange  1kg   30   40  3

In [23]:
df.drop("d", axis=1)

    veges   color unit  max  min
0  tomato     red  1kg   50   30
1   onion   white  1kg   40   50
2  carrot  orange  1kg   30   40

In [28]:
pd.merge(df1,df,on="unit",how="inner")

  veges_x color_x unit  max_x  min_x veges_y color_y  max_y  min_y  d
0  tomato     red  1kg     50     30  tomato     red     50     30  1
1  tomato     red  1kg     50     30   onion   white     40     50  2
2  tomato     red  1kg     50     30  carrot  orange     30     40  3
3   onion   white  1kg     40     50  tomato     red     50     30  1
4   onion   white  1kg     40     50   onion   white     40     50  2
5   onion   white  1kg     40     50  carrot  orange     30     40  3
6  carrot  orange  1kg     30     40  tomato     red     50     30  1
7  carrot  orange  1kg     30     40   onion   white     40     50  2
8  carrot  orange  1kg     30     40  carrot  orange     30     40  3